<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script>
  var c = new chat.Client({
    index_path: '<%= room_logs_path(:room_id => Room.first.id) %>'
  });
  c.start();
</script>
